<html>
    <head>
        <title>Minha Casa</title>
    </head>
    <body>
        <h2>Minha Casa</h2>
        <ul>
            <li><a href="/register_user">Cadastrar Usuário</a></li>
            <li><a href="/register_sensor">Cadastrar Sensor</a></li>
            <li><a href="/register_atuador">Cadastrar Atuador</a></li>
            <li><a href="/list_users">Listar Usuários</a></li>
            <li><a href="/list_sensores">Listar Sensores</a></li>
            <li><a href="/list_atuadores">Listar Atuadores</a></li>
            <li><a href="/remove_user">Remover Usuário</a></li>
            <li><a href="/remove_sensor">Remover Sensor</a></li>
            <li><a href="/remove_atuador">Remover Atuador</a></li>
            <li><a href="/logout">Sair</a></li>
        </ul>
    </body>
</html>
