<html>
    <head>
        <title>Minha Casa</title>
    </head>
    <body>
        <h2>Minha Casa</h2>
        <form action="/login" method="post">
            <p>Usuário:</p>
            <p><input type="text" name="user" placeholder="User" required /></p>
            <p>Senha:</p>
            <p>
                <input
                    type="text"
                    name="password"
                    placeholder="Password"
                    required
                />
            </p>
            <p><input type="submit" value="submit" /></p>
        </form>
    </body>
</html>
